.jstree {
	list-style: none;
	padding: 0;
}
.jstree li {
	padding: .2rem 0;
}
.jstree label, .jstree span {
	font: .7rem Verdana;
}
.jstree input, .jstree summary {
	font: .8rem Verdana;
}
.jstree input:not([type="checkbox"]):not([type="radio"]), .jstree select {
	padding: 3px;
	border-radius: 4px;
	border: #EEE solid 1px;
	background-image: linear-gradient(to top, #DEF 20%, #FFF 80%);
	transition: all 0.3s linear;
}
.jstree input:not([type="checkbox"]):not([type="radio"]):focus-visible {
	outline: 0;
	box-shadow: 0 0 6px #FEA700;
}
.jstree input[type=number], .jstree input[inputmode] {
	text-align: right;
}
.jstree-button {
	cursor: pointer;
	color: #FFF;
	margin: 1px 0;
	padding: 4px 8px;
	border: 0;
	border-radius: 4px;
	background: #FEA700;
	transition: all .5s;
}
.jstree-button:hover:not(:disabled) {
	filter: brightness(1.3);
}
.jstree-button:active:not(:disabled) {
	top: 1px;
	position: relative;
}
.jstree summary {
	cursor: pointer;
	font: .8rem Verdana;
}
.jstree details {
	margin: 3px;
	padding: 4px;
	border: 1px solid #DDD;
	border-radius: 4px;
}
